* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}
/* header */
.web-version {
  display: none;
}
/* logo sizing */
.img-logo {
  width: 5em;
  height: 1.5em;
}
/* main */
.small-font {
  font-size: 0.7em;
  font-weight: 600;
}
.filter {
  display: none;
}
/* main brand logo */
.brand {
  width: 20%;
}
a {
  text-decoration: none;
}
.btn-light-green {
  background-color: #99db71;
  color: white;
  border-radius: 20px;
}
.sale-text {
  font-size: 0.7em;
}
.rounded-board {
  border-radius: 18px;
}
.shoe-card {
  width: 90%;
  background-color: rgba(162, 160, 160, 0.395);
  height: 8rem;
}
.card-text {
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  color: rgb(66, 65, 65);
}
/* Display of goods page */
.sneakers-text {
  font-size: 90%;
}
.shoe-type {
  height: fit-content;
}
.items {
  z-index: 1;
  left: 500px;
}
.ellipse {
  top: 60%;
  z-index: 0;
}
.hide {
  display: none;
}

/* .mini-square{
  width: 20px;
  height: 50px;
} */
.lil-img {
  width: 70px;
  height: 70px;
  border-radius: 18px;
  border: 2px solid black;
}
/* footer part of display */
.cart,
.buy {
  border-radius: 30px;
  font: 700;
}
.cart {
  color: #086d24;
}
.buy {
  background-color: #086d24;
  color: white;
}
.house {
  border-radius: 48%;
  height: 60px;
  width: 60px;
}
/* Cart */
.round-holder {
  margin-top: 60%;
  position: relative;
  height: 35vh;
}
.ellipse {
  position: absolute;
  top: 40px;
  left: 80px;
  width: 60%;
}
.vector {
  position: absolute;
  top: 80px;
  left: 120px;
  width: 40%;
}

/* media queries */
@media (min-width: 300px) {
  .sneakers-text {
    font-size: 1rem;
  }
}
@media (min-width: 470px) {
  .shoe-card {
    width: 13rem;
  }
}
@media (min-width: 700px) {
  .mobile {
    display: none !important;
  }
  .web-version {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .userAcc {
    background-color: rgb(217, 214, 214);
    border-radius: 50%;
  }
}
@media (min-width: 1000px) {
  .search-holder {
    width: 350px !important;
    height: 50px !important;
  }
  .address {
    border-radius: 30px;
    background-color: rgb(221, 218, 218);
    width: 350px !important;
    height: 50px !important;
    padding-left: 40px;
  }
  .contigent {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .filter {
    display: inline;
  }
  .brands-min {
    width: 60vw;
    margin: 50px auto;
  }
  .brand {
    width: 100px;
  }
  .year-sale {
    width: 400px;
  }
  .hide {
    display: block;
  }
  .unshow {
    display: none;
  }
  .arrive {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .animate {
    background-color: rgb(230, 225, 225);
    width: 500px;
    height: 300px;
    position: relative;
  }
  .nikey {
    position: absolute;
    top: -110px;
    right: 40px;
  }
  .heart {
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  .small-size {
    width: 80px;
    height: 80px;
  }
  .shoe-end {
    position: absolute;
    right: 80px;
    width: 500px;

  }
  /* .shoe-display{
    display: flex !important;
    width: 500px;
    position: absolute;
    right: 0;
  } */
}
