* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

/* logo sizing */
.img-logo {
  width: 5em;
  height: 1.5em;
}
/* main */
.small-font {
  font-size: 0.7em;
  font-weight: 600;
}
/* main brand logo */
.brand {
  width: 20%;
}
.btn-light-green {
  background-color: #99db71;
  color: white;
  border-radius: 20px;
}
.sale-text {
  font-size: 0.7em;
}
.rounded-board {
  border-radius: 18px;
}
.shoe-card {
  width: 90%;
  background-color: rgba(162, 160, 160, 0.395);
  height: 8rem;
}
.card-text {
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  color: rgb(66, 65, 65);
}
/* Display of goods page */
.sneakers-text {
  font-size: 90%;
}
.shoe-type {
  height: fit-content;
}
.items {
  z-index: 1;
  left: 500px;
}
.ellipse {
  top: 60%;
  z-index: 0;
}

/* .mini-square{
  width: 20px;
  height: 50px;
} */
.lil-img {
  width: 70px;
  height: 70px;
  border-radius: 18px;
  border: 2px solid black;
}
/* footer part of display */
.cart, .buy{
  border-radius: 30px;
  font: 700;
}
.cart{
  color: #086d24;
}
.buy{
  background-color: #086d24;
  color: white;
}
.house{
  border-radius: 48%;
  height: 60px;
  width: 60px;
}

/* media queries */
@media (min-width: 300px) {
  .sneakers-text {
    font-size: 1rem;
  }
}
@media (min-width: 470px) {
  .shoe-card {
    width: 13rem;
  }
}
